@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,700);

body {
	background: #fff;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 200;
}

section {
	padding: 7em 0;
}

section:nth-child(even) {
	background: rgba(0,0,0,.05);
}


@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}